@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400');

* {
    font-family: 'Roboto Mono', monospace;
    color: #e3554f;
}

*::-moz-selection {
    background: #e3554f;
    color: #fdfdfd;
}

*::selection {
    background: #e3554f;
    color: #fdfdfd;
}

main {
    opacity: 0;
}

html,
body {
    height: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body {
    background: #fefefe;
    font-size: 1.75em;
}

.preloader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.border {
    position: absolute;
    height: 32px;
    width: 32px;
    will-change: transform;
}

.preloader .border:nth-child(1) {
    border-left: 8px solid #e3554f;
    border-bottom: 8px solid #e3554f;
    left: calc(50% - 20px);
    bottom: calc(50% - 20px);
    -webkit-transition: left .3s .3s ease, bottom .3s .3s ease;
    transition: left .3s .3s ease, bottom .3s .3s ease;
}

.preloader .border:nth-child(2) {
    border-right: 8px solid #e3554f;
    border-top: 8px solid #e3554f;
    right: calc(50% - 20px);
    top: calc(50% - 20px);
    -webkit-transition: right .3s .3s ease, top .3s .3s ease;
    transition: right .3s .3s ease, top .3s .3s ease;
}

.preloader.loaded .border:nth-child(1) {
    bottom: 16px;
    left: 16px;

}

.preloader.loaded .border:nth-child(2) {
    right: 16px;
    top: 16px;

}

main {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    will-change: opacity, transform, -webkit-transform;

}

main.loaded {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: opacity .7s ease-out,
        -webkit-transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out;
    -webkit-transition: opacity .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        transform .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out,
        transform .7s .6s ease-out;
}

img {
    width: 40vw;
    display: block;
    margin: 32px auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

main div {
    margin: auto;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


@media (max-width:993px) {
    body {
        font-size: 1.25em;
    }

    img {
        width: 70vw;
    }

    main i {
        width: 100%;
    }

}

.code {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    float: left;
    font-size: .5em;
    padding: 16px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

.code.loaded {
    -webkit-transition: opacity .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        transform .7s .6s ease-out;
    transition: opacity .7s .6s ease-out,
        transform .7s .6s ease-out,
        -webkit-transform .7s .6s ease-out;
    will-change: opacity, transform;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.code .fas {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.code .fa-heart {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    will-change: transform, -webkit-transform;
}

.code:hover .fa-heart {
    -webkit-transform: scale(1.2) rotate(90deg);
    transform: scale(1.2) rotate(90deg);
    -webkit-animation: pulse 1.17s .4s ease-in-out infinite;
    animation: pulse 1.17s .4s ease-in-out infinite;
}

.contact {
    opacity: 0;
    -webkit-transition: opacity .7s ease-out,
        -webkit-transform .7s ease-out;
    transition: opacity .7s ease-out,
        -webkit-transform .7s ease-out;
    transition: opacity .7s ease-out,
        transform .7s ease-out;
    transition: opacity .7s ease-out,
        transform .7s ease-out,
        -webkit-transform .7s ease-out;
}

.contact.show {
    opacity: 1;
}



@-webkit-keyframes pulse {

    0%,
    20%,
    40%,
    100% {
        -webkit-transform: scale(1.2) rotate(90deg);
        transform: scale(1.2) rotate(90deg);
    }

    10%,
    30% {
        -webkit-transform: scale(1.3) rotate(90deg);
        transform: scale(1.3) rotate(90deg);
    }
}



@keyframes pulse {

    0%,
    20%,
    40%,
    100% {
        -webkit-transform: scale(1.2) rotate(90deg);
        transform: scale(1.2) rotate(90deg);
    }

    10%,
    30% {
        -webkit-transform: scale(1.3) rotate(90deg);
        transform: scale(1.3) rotate(90deg);
    }
}
